#courrierConsult {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  flex-flow: row;
  margin: auto;
  background: #f2f2f2;
  min-height: 90dvh;
  width: 100%;
  padding: 1em 1em;
}

#courrierConsult .leftSide,
#courrierConsult .rightSide {
  width: 50%;
  min-height: 50dvh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

// LEFT SIDE

#courrierConsult .leftSide h2 {
  margin-top: -1em;
  padding: 10px;
  font-size: 0.8dvw;
}

#courrierConsult .leftSide dl {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #36395a;
  border-radius: 6px 6px 0 0;
  background: #ffffff;
}

#courrierConsult .leftSide dl dt {
  background: #36395a;
  padding: 0.5em;
  color: #ffffff;
  font-size: 0.7dvw;
}

#courrierConsult .leftSide dl dd {
  margin-left: 5px;
  margin-right: 30px;
  font-weight: 700;
  font-size: 0.7dvw;
}

#courrierConsult .leftSide div {
  width: 100%;
  min-height: 77dvh;
}

#courrierConsult .leftSide div iframe {
  width: 100%;
  height: 100%;
  min-height: 77dvh;
  border: 1px solid #36395a;
  border-radius: 0 0 6px 6px;
}

// RIGHT SIDE

#courrierConsult .rightSide .formContainer {
  width: 75%;
}

#courrierConsult .rightSide form .buttonWrapper {
  width: 100%;
}

#courrierConsult .rightSide .formContainer form {
  display: flex;
  flex-flow: column;
  gap: 1em;
  border: 1px solid #36395a;
  padding: 1em;
  border-radius: 6px;
  width: 100%;
  background: #ffffff;
}

#courrierConsult .rightSide .formContainer form h3 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 1em;
}

#courrierConsult .rightSide .formContainer form .inputWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1024px) {
    flex-flow: column;
  }
}

#courrierConsult .rightSide .formContainer form .inputWrapper label {
  width: 40%;

  @media (max-width: 1024px) {
    width: 100%;
    text-align: center;
  }
}

#courrierConsult .rightSide .formContainer form input[type="text"],
#courrierConsult .rightSide .formContainer form input[type="email"],
#courrierConsult .rightSide .formContainer form input[type="number"],
#courrierConsult .rightSide .formContainer form input[type="password"],
#courrierConsult .rightSide .formContainer form input[type="date"] {
  border: 1px solid #36395a;
  padding: 0.8em;
  text-align: center;
  min-width: 230px;
  max-height: 38px;
}

#courrierConsult .rightSide .formContainer form input[type="date"] {
  min-width: 230px;
  max-height: 38px;
  &:hover {
    cursor: pointer;
  }
}

#courrierConsult .rightSide .formContainer form input:not([type="file"]) {
  background: #f2f2f2;
}

#courrierConsult .rightSide .formContainer form input {
  &:focus {
    outline: 3.5px solid #36395a;
  }
}

#courrierConsult .rightSide .formContainer form .css-b62m3t-container {
  font-size: 12px !important;
  &:focus {
    outline: 3.5px solid #36395a !important;
  }
}

#courrierConsult .rightSide .formContainer form .css-13cymwt-control {
  font-size: 12px !important;
  background: #f2f2f2;
  border-color: unset;
  border-radius: unset;
}

#courrierConsult .rightSide .formContainer form .css-13cymwt-control:not(#selectGroup .css-13cymwt-control) {
  width: 230px;
}

#courrierConsult .rightSide .formContainer form .css-b62m3t-container:not(#selectGroup .css-b62m3t-container) {
  width: 230px;
}

#courrierConsult .rightSide .formContainer form .inputWrapper .tiersWrapper {
  display: flex;
  align-items: center;
  gap: 1em;
}

#courrierConsult .rightSide .formContainer form .inputWrapper .tiersWrapper p {
  font-weight: 700;
}

#courrierConsult .rightSide .formContainer form .buttonWrapper {
  display: flex;
  justify-content: center;
  gap: 4em;
  margin-top: 1em;
}
