@use "../../../../utils/styles/mixins" as mixins;

#creationCommandes {
  gap: unset !important;
  @include mixins.main;
}

#creationCommandes form {
  width: 25% !important;
  @include mixins.form;
}

#creationCommandes > .buttonWrapper {
  margin: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap : 4em;
}