@use "../../../../utils/styles/mixins" as mixins;

#creationCommandes {
  padding: 1em 1em;

  @include mixins.main;

  h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  form {
    @include mixins.form;
    //max-width: 500px;
    margin: auto;
  }

  .middleSide {
    width: auto;
    display: flex;
    gap: 10px;
    flex-direction: row !important;
    position: relative;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
  }
  #NRTL table{
    width: auto;
  }
  .buttonContainer {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
  }
  .container {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .formWrapper {
    display: flex;
    flex-direction: column;
    gap: 12%;
    label {
      padding-right: 5px;
    }
  }
  .inputWrapper {
    margin-bottom: 0.5em;
  }
  .commandesTableContainer {
    width: auto !important;;
  }
  .goBackBtnWrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    justify-content: center;
  }
  .formWrapper {
     display: flex;
     flex-direction: column;
     gap: 12%;
    label {
      padding-right: 5px;
      width: 180px !important;
    }
   }
  .inputWrapper {
     margin-bottom: 0.5em;
   }
}
