#equilibrages {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    min-height: 90dvh;
    background: #f2f2f2;

    .equilibrages__bottomSection {
        display: flex;
        flex-flow: column;
        gap: 2em;
        position: relative;

        .greyButtonWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2em;
        }

        .totals {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5em;
            margin-top: 2em;
            font-size: 1.5em;
            font-weight: bold;

            .finalTotals {
                font-size: 1.5em;
                font-weight: bold;
                color: #36395a;
            }
        }
    }
}

#groupedTable {
    width: 100%;
    margin-bottom: 2em;
}

.no-results {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 16px;
    font-weight: bold;
    color: #36395a;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px 0;
}

#ajoutEquilibrage {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    min-height: 90dvh;
    background: #f2f2f2;

    .ajoutEquilibrage__bottomSection {
        display: flex;
        flex-flow: column;
        gap: 2em;
        position: relative;

        .form-container {
            display: flex;
            flex-direction: column;
            background-color: white;
            padding: 2em;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            max-width: 600px;
            width: 100%;
            max-height: 90vh;
            overflow-y: auto;

            .form-group {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 1em;

                label {
                    font-size: 1rem;
                    font-weight: bold;
                    color: #36395a;
                }

                input,
                select {
                    flex: 1;
                    min-width: 200px;
                    max-width: 100%;
                    margin-left: 1em;
                    padding: 0.5em;
                    border: 1px solid #36395a;
                    border-radius: 4px;
                    background: #f2f2f2;
                    font-size: 14px;
                    text-align: center;

                    &:hover {
                        border-color: #1092b8;
                    }

                    &:focus {
                        outline: 3.5px solid #1092b8;
                    }
                }
            }

            .button-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 2em;
            }
        }
    }
}