#menuContainer {
  column-count: 6;
  column-gap: 5px;
  width: 100%;
  border: 2px solid red;

  @media (max-width: 1024px) {
    column-count: 4;
    column-gap: 5px;
    width: 100%;
  }

  @media (max-width: 768px) {
    column-count: 1;
    column-gap: 5px;
    width: 100%;
  }
}

#menuSection {
  background-color: #8aa1c7;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 5px;
  display: inline-block;
  width: 100%;
}

#menuSection h2 {
  font-size: .9dvw;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
}

#menuItemContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a5b6d5;
  margin: 5px 0;
  padding: 7px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: .85dvw;
  width: 100%;
  position: relative;
}

#menuItemContainer input[type="checkbox"] {
  position: absolute;
  top: 40%;
  left: 5px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 9999;
}

#menuItemContainer:hover {
  background-color: #d4dff1;

  & li {
    background-color: #d4dff1;
  }
}

#menuItemContainer a {
  width: 100%;
}

#menuContainer .menuItemWithCheckbox {
  width: 80%;
}