.DateRange__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border: none; // Retiré la bordure pour s'intégrer avec `filtersWrapper`
    background: transparent; // Transparence pour éviter les conflits avec le parent
    padding: 0;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    .dateContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        @media (max-width: 768px) {
            flex-direction: column;
            width: 100%;
        }
    }

    .dateButtonWrapper {
        display: flex;
        flex-direction: column;
        /* S'assure que le bouton s'aligne verticalement */
        justify-content: flex-end;
        /* Positionne le bouton en bas */
        align-self: flex-end;
        /* Permet de descendre le bouton au bas du parent */
        gap: 1rem;

        @media (max-width: 768px) {
            justify-content: center;
            /* Centré sur petit écran */
            align-self: center;
            /* Centré sur petit écran */
            width: 100%;
        }

        button {
            min-width: 120px;
        }
    }

    .inputWrapper {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        label {
            font-size: 1rem;
            font-weight: 500;
            color: #36395a;
        }

        input {
            border: 1px solid #36395a;
            border-radius: 4px;
            padding: 0.8em;
            font-size: 14px;
            width: 100%;
            max-width: 250px;
            text-align: center;

            &:hover {
                cursor: pointer;
            }
        }
    }
}