@use "../../utils/styles/mixins" as mixins;

#alertBox {
  @include mixins.main;
}

#alertBox .alertBoxWrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding: 1em;
  width: fit-content;
  background: #ffffff;
  border: 1px solid #36395a;
  border-radius: 6px;
}

#alertBox .alertBoxWrapper p {
  text-align: center;
}

#alertBox .alertBoxWrapper button {
  width: 100px;
}
