#nouveauxCourriers {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-height: 90dvh;
  background: #f2f2f2;
  gap: 4em;
}

#nouveauxCourriers .uploadFileContainer {
  position: relative;
  width: 215px;
}

#nouveauxCourriers .uploadFileContainer button {
  font-size: 14px;
  width: 214px;
  white-space: nowrap;
}

#nouveauxCourriers .uploadFileContainer input[type='file'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}