@use "../../../../utils/styles/mixins" as mixins;

#courrierDistribution {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90dvh;
  background: #f2f2f2;
  padding: .5%;
  gap: .5%;
}

#courrierDistribution .leftContainer,
#courrierDistribution .rightContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 50%;
}

#courrierDistribution .iFrameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#courrierDistribution .iFrameContainer iframe {
  width: 100%;
  height: 86dvh;
}

#courrierDistribution .rightContainer {
  form {
    display: flex;
    flex-flow: column;
    border: 1px solid #36395a;
    padding: 2em .5em;
    border-radius: 6px;
    width: 100%;
    background: #ffffff;
    gap: 1em;

    .formWrapper {
      border: unset !important;
      padding: unset !important;
      display: flex !important;
      flex-flow: row !important;
      gap: 4em !important;

      .rightColumn,
      .leftColumn {
        width: 50% !important;
        display: flex !important;
        flex-flow: column !important;
        gap: .5em !important;
      }

      label {
        width: 60% !important;
      }

      input {
        min-width: unset !important;
        width: 50% !important;
      }

      textarea {
        min-width: unset !important;
        width: 50% !important;
      }

      .css-b62m3t-container {
        min-width: unset !important;
        width: 50% !important;
      }

      .css-13cymwt-control {
        min-width: unset !important;
        width: 100% !important;
      }

      @include mixins.form;
    }

    .buttonContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1em;
    }
  }
}
