#previsionAValider {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    min-height: 90dvh;
    background: #f2f2f2;

    .previsionAValider__bottomSection {
        display: flex;
        flex-flow: column;
        gap: 2em;
        position: relative;

        .filtersWrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            justify-content: space-between;
            gap: 1.5rem;
            margin: 1em 0;

            .DateRange__container {
                flex: 1;
                max-width: 50%;
            }

            .codeInputWrapper,
            .societeInputWrapper {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                flex: 0 1 25%;
                max-width: 300px;

                label {
                    font-size: 1rem;
                    font-weight: 500;
                    color: #36395a;
                }

                input,
                select {
                    border: 1px solid #36395a;
                    border-radius: 4px;
                    padding: 0.8em;
                    font-size: 14px;
                    text-align: center;
                    width: 100%;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        .greyButtonWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2em;
        }

        .greyButton {
            margin-bottom: 1rem;
        }
    }
}

#groupedTable {
    .rubriqueGroup {
        margin-bottom: 2em;

        .rubriqueTitle {
            background-color: #1092b8;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            padding: 1em;
            text-align: center;
            border-radius: 6px;
            margin-bottom: 1em;
        }
    }
}

.courrierDisplay {
    width: 100%;
    height: 500px;
    border: 1px solid #ccc;
}

.no-courrier {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    border: 1px dashed #ccc;
    background-color: #f9f9f9;
}