#emissionsODV {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    min-height: 90dvh;
    background: #f2f2f2;

    .emissionsODV__bottomSection {
        display: flex;
        flex-flow: column;
        gap: 2em;
        position: relative;

        .filtersWrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            gap: 1.5rem;
            margin: 1em 0;

            @media (max-width: 768px) {
                flex-direction: column;
                gap: 1rem;
            }

            .DateRange__container {
                flex: 1;
                max-width: 50%;
                justify-content: flex-start;

                @media (max-width: 768px) {
                    max-width: 100%;
                }
            }

            .societeSelectWrapper {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                flex: 0 1 25%;
                max-width: 300px;

                @media (max-width: 768px) {
                    flex: 1;
                    max-width: 100%;
                }

                label {
                    font-size: 1rem;
                    font-weight: 500;
                    color: #36395a;
                }

                select {
                    border: 1px solid #36395a;
                    border-radius: 4px;
                    padding: 0.8em;
                    font-size: 14px;
                    text-align: center;
                    width: 100%;
                    height: 3em;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .idInputWrapper {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                flex: 0 1 25%;
                max-width: 300px;

                @media (max-width: 768px) {
                    flex: 1;
                    max-width: 100%;
                }

                label {
                    font-size: 1rem;
                    font-weight: 500;
                    color: #36395a;
                }

                input {
                    border: 1px solid #36395a;
                    border-radius: 4px;
                    padding: 0.8em;
                    font-size: 14px;
                    text-align: center;
                    width: 100%;
                    height: 3em;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        .no-societe-message {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            font-size: 16px;
            font-weight: bold;
            color: #36395a;
            background-color: #f2f2f2;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin: 20px 0;
        }

        .greyButtonWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2em;

            @media (max-width: 768px) {
                flex-direction: column;
                gap: 1em;
            }
        }
    }

    .DateRange__container .inputWrapper input {
        height: 3em;
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        animation: fadeIn 0.3s ease;

        .modalContent {
            background: white;
            padding: 20px;
            border-radius: 8px;
            max-width: 90%;
            max-height: 90%;
            overflow-y: auto;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

            .modal-header {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;

                .modalCloseButton {
                    background: none;
                    border: none;
                    font-size: 24px;
                    color: #36395a;
                    cursor: pointer;
                    transition: color 0.3s ease;

                    &:hover {
                        color: #000;
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

.selected-bank-entry {
    margin-top: 2em;
    padding: 1em;
    background: #f2f2f2;
    border-radius: 8px;
    border: 1px solid #36395a;

    h3 {
        font-size: 1.2em;
        margin-bottom: 0.5em;
        color: #36395a;
    }

    p {
        margin: 0.5em 0;
        font-size: 1em;
        color: #36395a;
    }
}

// Styles for VirementModifIban.tsx
#virementModifIban {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 2em;
    background: #f2f2f2;

    .alreadyPaidButtonWrapper {
        margin-bottom: 2em;
    }

    .main-container {
        display: flex;
        flex-direction: column; // Change to column to stack the 3rd tab below
        background-color: white;
        padding: 2em;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        max-width: 1200px;
        width: 90%;
        max-height: 90vh;
        overflow-y: auto;

        .coordonnees-container {
            display: flex;
            flex-direction: row;
            width: 100%;
            gap: 2em; // Gap between the first two tabs
            row-gap: 2em;
            flex-wrap: wrap; // Allow wrapping for the 3rd tab
            margin: 0 auto;

            .tab-panel {
                flex: 1;
                min-width: 350px;
                background: #ffffff;
                border: 1px solid #36395a;
                border-radius: 6px;
                padding: 1.5em;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

                h2 {
                    font-size: 1.5em;
                    margin-bottom: 1em;
                    text-align: center;
                    color: #36395a;
                }

                .form-container {
                    display: flex;
                    flex-direction: column;
                    gap: 1em;

                    label {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-size: 14px;
                        color: #36395a;

                        input,
                        select {
                            flex: 1;
                            min-width: 200px; // Set a minimum width for inputs
                            max-width: 100%; // Allow inputs to grow as needed
                            // margin-left: 1em;
                            padding: 0.5em;
                            border: 1px solid #36395a;
                            border-radius: 4px;
                            background: #f2f2f2;
                            font-size: 14px;
                            text-align: center;

                            &:hover {
                                border-color: #1092b8;
                            }

                            &:focus {
                                outline: 3.5px solid #1092b8;
                            }

                            input[type="text"] {
                                min-width: 200px; // Minimum width for all inputs
                                width: auto; // Allow the input to grow based on content
                                flex: 1 1 auto; // Allow flexibility in sizing
                            }

                            // Specific styling for the "Libellé" input
                            input[name="libelleEcriture"] {
                                min-width: 300px; // Set a larger minimum width for "Libellé"
                                width: 100%; // Allow it to take up the full available width
                            }
                        }
                    }
                }
            }

            // Specific styling for the 3rd tab
            .tab-panel:last-child {
                flex-basis: 100%; // Make the 3rd tab span the full width
                margin-top: 2em; // Add gap between the first two tabs and the 3rd tab
            }
        }
    }

    .actions {
        margin-top: 2em;
    }
}

@media (max-width: 768px) {
    .coordonnees-container {
        flex-direction: column;
        gap: 1em;
    }

    .tab-panel {
        max-width: 100%;
    }
}