.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .selected-bank-entry-description {
        margin-bottom: 1em;
        padding: 0.5em;
        background: #f2f2f2;
        border-radius: 8px;
        border: 1px solid #36395a;

        h3 {
            font-size: 1.2em;
            margin: 0;
            color: #36395a;
        }
    }
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modalCloseButton {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #36395a;
    transition: color 0.3s ease;

    &:hover {
        color: #000;
    }
}

.selected-bank-entry-description {
    margin-top: 1em;
    font-size: 1.2em;
    color: #36395a;
}