@use "../../../utils/styles/mixins" as mixins;

#gestionDesCourriersMenu {
  @include mixins.main;
}

#gestionDesCourriersMenu #menuContainer {
  width: 50%;
  column-count: 3;
}

#gestionDesCourriersMenu .secondMenuWrapper #menuContainer  {
  width: 250px;
  column-count: 1;
}