@use "../../utils/styles/variables" as vars;

#auth {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  background: vars.$greyBackground;
  min-height: 80dvh;
  width: 100%;
}

.formContainer {
  width: 25%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  @media (max-width: 1024px) {
    width: 80%;
  }
}
